:root{
    --primary: #0099ff;
  }
  
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif
    }
    
    html {
      height: 100%;
      width: 100%;
    }
  
    a{
      text-decoration: none;
      color: white;
    }
  
  
  /*part 1*/
  
    .initial-container{
      display: flex;
      flex-direction: column;
      position: relative;
    }
  
    header, .section{
      max-width: 100vw;
    }
  
    header{
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      padding: 0 3em;
  
      height: 10vh;
    }
  
    header .logo{
      display: flex;
      justify-content: center;
      align-items: center;    
      font-weight: bold;
      font-size: 25px;
      color: white;
  
    }
  
  
    header .logo:hover img{
      width: 30px;
    }
  
    header  a{
      padding: 0;
      font-size: 16px;
      text-transform: uppercase;
    }
  
    header  a{
      color: white;
      position: relative;
    
      transition: ease .5s;
    }
  
    
    header  a::after{
      content: "";
      height: 2px;
      width: 0%;
      background-color: white;
      position: absolute;
      top: 100%;
      left: 0;
    
      transition: ease 0.5s;
    }
    
    header  a:hover{
      transform: scale(1.3);
    }
  
    header  a:hover::after{
     width: 100%;
    }
    /* SEÇÃO ESQUERDA */
  
   .box-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3em;
    height: 59vh;
   }

   .text{
    width: 70%;
   }
    
  
  
  /* SEÇÃO DIREITA */
  
 
  
  
    /* ONDAS */
  
    .wave-top{
      position: absolute;
      top: 0;
      z-index: -1;
  
    }
    .wave-bottom{
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
  
  
  
    /*part2*/
  